.add-post-logo {
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
}
.add-post-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}