.login-box {
    width: 400px;
    box-shadow: 0 5px 20px -6px #333333;
    input {
      width: 100%;
      display: block;
      border: 0;
      padding: 6px 12px;
      margin-bottom: 10px;
    }
  }
  
  .login-text {
    color: #ffffff;
  }